<div>
  <h2>{{ isEditMode ? 'Editar Curso' : 'Novo Curso' }}</h2>

  <form [formGroup]="cursoForm" (ngSubmit)="onSubmit()">
    
    <div>
      <label for="nome">Nome:</label>
      <input type="text" id="nome" formControlName="nome">
    </div>

    <div>
      <label for="nivel">Nível:</label>
      <input type="text" id="nivel" formControlName="nivel">
    </div>

    <div>
      <label for="modalidade">Modalidade:</label>
      <input type="text" id="modalidade" formControlName="modalidade">
    </div>

    <div>
      <label for="turno">Turno:</label>
      <input type="text" id="turno" formControlName="turno">
    </div>

    <hr>
    
    <button type="submit" [disabled]="cursoForm.invalid">
      {{ isEditMode ? 'Atualizar' : 'Salvar' }}
    </button>
    
    <button type="button" (click)="cancelar()">Cancelar</button>
  </form>
</div>